@model Passion_Project.Models.ViewModels.UpdateReview

@{
    ViewBag.Title = "Edit Review";
}

<h2>Edit Review</h2>
<form action="/Review/Update/@Model.SelectedReview.ReviewID" method="POST">
    <div style="display:none;">
        <input name="ReviewID" type="text" value="@Model.SelectedReview.ReviewID" />
    </div>
    <div>
        <label>Rating:</label> <br />
        <input name="Rating" type="text" value="@Model.SelectedReview.Rating" />
    </div>
    <div>
        <label>Comment:</label> <br />
        <input name="Comment" type="text" value="@Model.SelectedReview.Comment" />
    </div>
    <div>
        <label>Review Date:</label> <br />
        <input name="ReviewDate" type="date" value="@Model.SelectedReview.FormattedDate" />
    </div>
    <div>
        <label>Anime:</label> <br />
        <select name="AnimeID">
            @foreach (var anime in Model.AnimeOptions)
            {
                <option value="@anime.AnimeID" @(anime.AnimeID == @Model.SelectedReview.AnimeID ? "selected" : "")>@anime.AnimeName</option>
            }
        </select>
    </div>
    <br />
    <div>
        <input type="submit" value="Update Review" />
    </div>
</form>
